<h1 class="mb-4">Tasks</h1>

<%= link_to 'New question', new_subject_task_path, class: 'btn btn-primary btn-lg' %>

<% Subject.find(params[:subject_id]).each do |task| %>

  <article class="card mt-3">
    <div class="card-body">
      <h4 class="mb-4"><%= task.name %></h4>


      <section class="card-text">
        <h5><%= task.titl %></h5>

        <p class="my-2">
          <%= task.condition %>
          <%= task %>
        </p>
      </section>

      <%= link_to 'Show', subject_task_path(task), class: "btn btn-lg btn-primary"%>
      <%= link_to 'Edit', edit_subject_task_path(task), class: "btn btn-lg btn-warning"%>
      <%= link_to 'Destroy', subject_task_path(task), data: {method: :delete, confirm: 'Are you sure?'},
                  class: "btn btn-lg btn-danger"%>


      <%= form_with model: @tag, url: subject_task_tags_path(task), scope: :tag do |f| %>

        <%= f.text_field :name, placeholder: 'content', class: 'form-control' %>

        <%= f.submit "Add tag", class: 'btn btn-primary' %>
      <% end %>>


    </div>
  </article>
<% end %>