<%= form_with model: @task, url:  page_user_tasks_path( current_user.id, @task), scope: :task do |f| %>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :name %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :name, placeholder: 'name', class: 'form-control' %>
    </div>
  </div>


  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :titl %>
    </div>
    <div class="col-sm-10">
      <%= f.select :titl, Subject.all.collect { |p| [p.name, p.name] }, class: 'custom-select custom-select-lg mb-3' %>
    </div>
  </div>


  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :condition %>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :condition, class: 'form-control' %>
    </div>
  </div>


  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :answer %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :answer, placeholder: 'Answer', class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Submit question!", class: 'btn btn-primary' %>
<% end %>