<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><%= link_to 'Home', root_path, class: "nav-link link-dark px-2 active" %></li>
      <li class="nav-item"><%= link_to 'Algebra', subject_tasks_path(1), class: 'nav-link link-dark px-2 active' %></li>
      <li class="nav-item"><%= link_to 'Geometry', subject_tasks_path(2), class: 'nav-link link-dark px-2 active' %></li>
      <li class="nav-item"><%= link_to 'Linear', subject_tasks_path(3), class: 'nav-link link-dark px-2 active' %></li>
      <li class="nav-item"><%= link_to 'Users', page_users_path, class: 'nav-link link-dark px-2 active' %></li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'My page', page_user_path(current_user.id), class: 'nav-link link-dark px-2 active' %></li>
        <% end %>
    </ul>

    <ul class="nav">
      <% if user_signed_in? %>
        <li class="nav-item px-1">
          <%= link_to current_user.name, edit_user_registration_path %>
          <%= image_tag current_user.image, size: "30x30" if current_user.image? %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete,  class: 'btn btn-primary gx-5' %>
        </li>
      <% else %>
        <li class="nav-item px-1">
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary gx-5' %>
        </li>
        <li class="nav-item px-1">
          <%= link_to 'Sing up', new_user_registration_path, class: 'btn btn-primary gx-5' %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <%= link_to image_tag('calculating.png',
                          class: "bi me-2 d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none",
                          height: 40, width: 40 ), root_path%>
    <%= link_to 'Respect Math', root_path, class: "fs-4 d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none"%>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>
